node_modules

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
ENV/
.env

# Database
*.db
*.sqlite3

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Local development
.DS_Store

storage/
storage/*
*.log
backend/app.log.*
backend/.env
.env*

backend/app/core/config/settings.py
